html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-mdc-dialog-surface{
  scrollbar-width: none !important;
background: #abbaab;
background: -webkit-linear-gradient(to right, #ffffff, #abbaab);
background: linear-gradient(to right, #ffffff, #abbaab);
}

.mat-mdc-dialog-content{
  scrollbar-width: none !important;
}

.mdc-snackbar__label{
  background-color: green !important;
  width:50%
}
