
.dashboard-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem;
}

.dashboard-card {
  width: 200px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s ease;
  text-align: center;
  background-color:aqua;

  &:hover {
    transform: scale(1.05);
  }
}

th{
  font-size: large;
  background-color:violet!important;
  z-index: 1;
}


.edit-form {
  width: 800px;
  margin: 30px auto;
  padding: 20px;
}

.form-title {
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 20px;
}

.form-grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-row {
  display: flex;
  gap: 20px;
  align-items: center;

  flex-wrap: wrap;
}

.field {
  flex: 1;
  min-width: 48%;
}

.full-width {
  width: 100%;
}

.mat-toolbar{
  background-color: burlywood;
}

h2{
  padding:20px;
}

td{
  background-color:coral;
  font-size: 15px;
}

mat-card-title{
  font-size: 30px;
}
.edit{
  background-color:yellow!important;

}

.delete{
  background-color: red !important;
  color: white !important;
}

.add{
 background-color: greenyellow !important;
}

mat-form-field{
  width:51%
}

.update{
  background-color: green!important;
  color: white!important;
}

.cancel{
  background-color: red!important;
  color: white!important;
}

.save{
   background-color: green!important;
  color: white!important;

}
