.dashboard-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem;
}

.dashboard-card {
  width: 200px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s ease;
  text-align: center;
  background: #e1eec3;
  background: -webkit-linear-gradient(to right, #f05053, #e1eec3);
  background: linear-gradient(to right, #f05053, #e1eec3);

  &:hover {
    transform: scale(1.05);
  }
}

th{
  font-size: large;
  background-color: #457fca !important;
}

.edit-form {
  width: 800px;
  margin: 30px auto;
  padding: 20px;
}

.form-title {
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 20px;
}

.form-grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-row {
  display: flex;
  gap: 20px;
  align-items: center;

  flex-wrap: wrap;
}

.field {
  flex: 1;
  min-width: 48%;
}

.full-width {
  width: 100%;
}

.mat-toolbar{
  background-color: burlywood;
  display: flex;
  justify-content: space-between;
}

h2 {
  padding: 20px;
}

h3 {
  padding: 20px;
  background: #005AA7;
  background: -webkit-linear-gradient(to right, #FFFDE4, #005AA7);
  background: linear-gradient(to right, #FFFDE4, #005AA7);
}

td{
  background: #E8CBC0;
  font-size: 15px;
}

mat-card-title{
  font-size: 24px;
}


.delete{
  color: red !important;
  // color: white !important;
  // margin-left: 5px;
}



mat-form-field{
  width: 80%;
  margin-left: 40px;
}

.update{
  color: green!important;
}



.save{
  color: green!important;
}

.date{
  width:100%;
}

.edit-appointment-form{
  width:80%;
  scrollbar-width: none;
}

.mat-dialog{
  scrollbar-width: none;
}

.submit{
  align-items: center;
  margin-left: 20px;
}

dialog{
  background-color: #f05053!important;
}




